<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogInForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogInForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LogInForm.Properties.Settings>
      <setting name="PLANT" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DATABASE_NAME" serializeAs="String">
        <value>active_deplus</value>
      </setting>
      <setting name="LANG" serializeAs="String">
        <value>KR</value>
      </setting>
      <setting name="SKIN" serializeAs="String">
        <value />
      </setting>
      <setting name="USER_ID" serializeAs="String">
        <value>active</value>
      </setting>
      <setting name="PASS_WORD" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>ProactiveMES</value>
      </setting>
      <setting name="SAVE_PWD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LOGINFORM_NAME" serializeAs="String">
        <value>LogInForm_V2</value>
      </setting>
      <setting name="MENU_LOCATION" serializeAs="String">
        <value>V2</value>
      </setting>
      <setting name="API_URL" serializeAs="String">
        <value>http://192.168.10.4:7863/api/QueryApi</value>
      </setting>
      <setting name="SERVER_IP" serializeAs="String">
        <value>192.168.0.21</value>
      </setting>
    </LogInForm.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LogInForm.Properties.Settings>
      <setting name="VERSION" serializeAs="String">
        <value>1.0.0.138</value>
      </setting>
    </LogInForm.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITriggerJobService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.11.74:8000/mozart/TriggerJobService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITriggerJobService" contract="APSWebReference.ITriggerJobService" name="WSHttpBinding_ITriggerJobService" />
    </client>
  </system.serviceModel>
</configuration>
